body,h1,h2,h3,h4,h5,h6 {font-family: "lato" , sans-serif;}
body,html{
    height: 100%;
    color: #777;
    line-height: 1.8;
}

/* Create a parallax Effect */
.bigimg-1, .bigimg-2, .bigimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First Image (logo. Full height) */
.bigimg-2 {
    background-image: url("20210215_000949.jpg");
    min-height: 400px;
}